/* -------reset------- */
* {
    margin: 0;
    padding: 0;
}

.sizeg1 {
    font-size: 40px;
    color: red;
    margin-left: 100px;
}
.sizeg2 {
    font-size: 40px;
    color: red;
    margin-left: 60px;
}
.sizec {
    font-size: 20px;
}
#plateau {
    font-family: 'Lato';
    border: solid 10px #b8860b;
    width: auto;
    height: 500px;
    padding-top: 10px;
    padding-bottom: 20px;
    background: linear-gradient(to left, #FFFFFF 50%,#f0f4f4 20%)  
}
svg {
    cursor: pointer;
}
.img-fluid{
    box-shadow: 1px 2px 70px rgb(202, 199, 199);
    width: 80px;
    height: 80px;
}
.box1 {
    width: 90px;
    height: 30px;
    background-color: red;
    margin-left: 215px;
}
.box2 {
    width: 90px;
    height: 30px;
    background-color: red;
    margin-left: 5px;
}
.shake {
    animation: shake 0.5s infinite;
}
@keyframes shake {
    0% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(30deg);
    }
}

/* Affichage du point rouge*/
.dot1d {
    opacity: 0;
}
.dot2d {
    opacity: 0;
}
@media (max-width: 1155px) {
    .min {
        font-size: small;
    }
    .box1 {
        width: 90px;
        height: 30px;
        background-color: red;
        margin-left: 140px;
    }
    .sizeg1 {
        font-size: 40px;
        color: red;
        margin-left: 10px;
    }
}
@media (max-width: 800px) {
    .min {
        font-size: small;
    }
    .box1 {
        width: 90px;
        height: 30px;
        background-color: red;
        margin-left: 80px;
    }
}
@media (max-width: 700px) {
    .min {
        font-size: small;
    }
    .box1 {
        width: 90px;
        height: 30px;
        background-color: red;
        margin-left: 60px;
    }
}
@media (max-width: 600px) {
    .min {
        font-size: small;
    }
    .box1 {
        width: 90px;
        height: 30px;
        background-color: red;
        margin-left: 60px;
    }
}

@media (max-width: 500px) {
    .min {
        font-size: small;
    }
    .box1 {
        width: 90px;
        height: 30px;
        background-color: red;
        margin-left: 30px;
    }
    .sizeg1 {
        font-size: 40px;
        color: red;
        margin-left: 10px;
    }
    #plateau {
        width: auto;
        height: 550px;
    }
}
